# Ignore CMake build directory
build/

# Ignore all files in the DEMs folder but keep the directory
DEMs/*
!DEMs/.gitkeep

# Ignore all files in the Output directory but keep the directory
DEMs/Output/*
!DEMs/Output/.gitkeep

profiles/*
.vscode/
nsight-systems-2024.6.1_2024.6.1.90-1_amd64.deb

*.o
*.exe
*.out
*.so
*.a
*.dll
*~
*.bak
*.tmp